body{
    color:rgb(0, 0, 0);
    background:black;
    margin:0px;
    font-family: 'Chakra Petch', sans-serif
}

header{
    border-bottom:solid 4px rgb(121, 2, 145);
    padding:20px;
    font-size:32px;
    color:rgb(121, 39, 160)
}

.chamada{
background:rgb(39, 68, 122);
padding-bottom:80px;
padding-top:80px;
display:flex;
justify-content:center;
}

.chamada-texto{
    margin-right:5%;
}

h1{
    font-size:40 px;
}

p{
font-size:20px;
}

img{
    height:200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap:10px;
}

.categoria{
    padding-left:20px;
    padding-right:20px;
    margin-bottom:100px;
    margin-top:50px;
}

.categoria-videos img{
opacity:0.5;
}

.categoria-videos img:hover{
opacity:1.0;
border:1px solid rgb(223, 16, 171);
}

.categoria h2{
    color: rgb(163, 59, 129)
}